node_modules/**
public/*
scripts/img/*
scripts/loader.js
scripts/database.js
src/profile/*

node_modules/
public/
scripts/img/
src/profile/
gif_temp/**/*
dist/*.map

#CutieCutieSexyBeautyWonderfulBunnyGirlIsJustice